.Interactions-container {
  display: flex;
  gap: 10px;
  .Interactions-sidebar {
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 18px 0px #00000012;
    // width: 400px;

    .profile-det {
      display: flex;
      padding-bottom: 10px;
      border-bottom: 2px solid #ececee;
      .profile-img {
        border-radius: 10px;
        overflow: hidden;
      }
      .det {
        display: flex;
        flex-direction: column;
      }
    }
    .recent-chats {
      .list {
        overflow-y: auto;
        // height: calc(100vh - 250px);
      }
      .chat_card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 4px 10px 0px #0000001a;
        // padding-top: 10px;
        border-radius: 10px;
        color: white;
        position: relative;
      }
    }
  }
  .Interactions-body {
    // border: 1px solid black;
    position: relative;
    box-shadow: 0px 4px 10px 0px #0000001a;
    border-radius: 10px;

    .Interactions-header {
      border-bottom: 2px solid #ececee;
      padding: 0px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      .icon-group {
        display: flex;
        align-items: center;
        gap: 0px 20px;
      }
    }
    .Interactions-content {
      height: calc(100% - 90px - 150px);
    }
    .Interactions-footer {
      box-sizing: border-box;
      height: 150px;
      border-top: 2px solid #ececee;
      display: flex;
      justify-content: space-between;
      .meting-card-body {
        display: flex;
        .meting-card {
          height: 140px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          cursor: pointer;
          margin: 0px 10px;
          margin-bottom: 5px;
          .node-thumbnail-box {
            height: 100px;
            width: 100px;
            position: relative;
            display: flex;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            img {
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              object-fit: cover;
              transform: scale(1);
              transition-duration: 0.3s;
              transition-property: transform;
            }
            &:hover {
              img {
                transform: scale(1.15);
              }
            }
            .img-btn {
              position: absolute;
              bottom: 0px;
              height: 40%;
              background: linear-gradient(
                0deg,
                #000000 -43.48%,
                rgba(0, 0, 0, 0) 76.09%
              );
              display: flex;
              align-items: center;
              justify-content: center;
              div {
                padding: 5px 10px;
                border-radius: 20px;
                background: #0000004d;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
