.resetPasswordContainer {
  padding: 5px 20px;
  .resetPasswordItem {
    width: 70%;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    @media (max-width: 1400px) {
      width: 100%;
    }
    .formContainer {
      .resetButton {
        width: 48%;
      }
      &:nth-child(1) {
        > div {
          > div {
            width: 48%;
          }
        }
      }

      @media (max-width: 500px) {
        .resetButton {
          width: 100%;
        }
        &:nth-child(1) {
          > div {
            > div {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.inputGroup {
  position: relative;

  .form-control {
    padding-right: 2.5rem;
  }

  .toggle-password {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    &:hover {
      background-color: transparent;
    }
    &:active {
      background-color: transparent;
    }

    img {
      width: 1rem;
      height: 1rem;
    }
  }
}
