.custom-edge-path {
  stroke: #000;
  transition: stroke 0.1s ease;

  .edge-label {
    font-size: 12px;
    pointer-events: all;
  }

  // .edge-button {
  //   background-color: #ffffff;
  //   border: 1px solid #ddd;
  //   border-radius: 4px;
  //   cursor: pointer;
  //   padding: 5px;

  // }

  .nodrag,
  .nopan {
    user-select: none;
    pointer-events: none;
  }
  @keyframes moveBorder {
    0% {
      stroke-dashoffset: 150;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
}
.edgebutton {
  width: 25px;
  height: 25px;
  background: #393939;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.2s ease, border 0.2s ease;
  &:hover {
    border: 2px solid #393939;
  }
  .fit-image {
    width: 20px;
    height: 20px;
  }
}
// class="react-flow__edge react-flow__edge-button nopan  selectable"
