#datepicker-container {
  .custom-date-picker-block {
    position: relative;
    input {
      width: 100%;
      border: 1px solid var(--9533);
      color: var(--1923);
      border-radius: 12px;
      padding: 14px 18px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: var(--ffff);
      outline: unset;
      &:disabled {
        background-color: var(--ffff);
        opacity: 0.5;
      }
      ::placeholder {
        color: var(--9580);
      }
    }
    .c-icon {
      position: absolute;
      right: 12px;
      top: 17px;
    }
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
}
