.qnaContainer {
  display: flex;
  gap: 0px 10px;
  height: 100%;
  .qnaSidebar {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 18px 0px #00000012;
    width: 400px;
    height: 100%;
    .profileDet {
      display: flex;
      padding: 10px;
      box-shadow: 0px 4px 10px 0px #0000001a;
      align-items: center;
      gap: 10px;
      width: 100%;

      .profileImg {
        height: 120px;
        width: 100px;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.15);
        img {
          filter: invert(100%) sepia(1%) saturate(1352%) hue-rotate(96deg)
            brightness(116%) contrast(100%);
        }
      }
      .det {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% - 95px);
        padding: 5px 5px 0px 5px;
        .contact_btn_group {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          position: relative;
          overflow: hidden;
          width: 35px;
          height: 35px;
          background-color: transparent;
          // box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
          border-radius: 50%;
          .contact_btn {
            color: #8000ff;
            transition: all 0.3s ease;
            position: absolute;
            z-index: 1;
          }
          &::after {
            content: "";
            position: absolute;
            width: 0%;
            height: 0%;
            background-color: #8000ff;
            border-radius: 50%;
            transition: all 0.3s ease;
          }
          span {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #8000ff;
            border-radius: 50%;
          }
          &:hover {
            .contact_btn {
              color: #fff;
            }
            &::after {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .email {
        cursor: pointer;
        color: #868686;
        font-size: 14px;
        font-weight: 500;
        text-decoration: underline;
        display: inline-block;
        &:hover {
          color: #8000ff;
        }
      }
    }

    .videoCallBtn {
      display: flex;
      align-items: center;
      gap: 0px 10px;
      padding: 5px 10px;
      border-radius: 0px;
      margin: 5px 0px;
      border-radius: 0px 0px 0px 0px;
      border: none;
      cursor: pointer;
      width: 150px;
      transition-duration: 0.3s;
      transition-property: all;
      justify-content: center;
      height: 35px;
      background: transparent;
      border-radius: 50px;
      position: relative;
      overflow: hidden;
      &:hover {
        // background: #8000ff;
        .VideoIcon {
          color: white;
          font-size: 22px;
        }
        div {
          color: white;
        }
        .btnBg {
          width: 100%;
          height: 100%;
          background: #8000ff;
        }
      }
      .btnBg {
        position: absolute;
        width: 0%;
        height: 0%;
        background: transparent;
        border-radius: 50px;
        z-index: 1;
        transition-duration: 0.3s;
        transition-property: all;
      }

      .VideoIcon {
        color: #8000ff;
        font-size: 20px;
        transition-duration: 0.3s;
        transition-property: all;
        z-index: 2;
      }
      div {
        transition-duration: 0.3s;
        transition-property: all;
        color: #8000ff;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 800;
        z-index: 2;
      }
    }
    .recentChats {
      padding: 0px 5px;

      .titleContainer {
        border-bottom: 2px solid #ececee;
        color: #8c8e90;
      }
      .list {
        overflow-y: auto;
        height: calc(100% - 370px);
      }
      .chatCard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 4px 10px 0px #0000001a;
        padding: 5px;
        border-radius: 10px;
        color: white;
      }
    }
  }
  .qnaBody {
    box-shadow: 0px 4px 10px 0px #0000001a;
    width: calc(100% - 410px);
    border-radius: 10px;

    .qnaHeader {
      border-bottom: 2px solid #ececee;
      padding: 0px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      height: 120px;
      .iconGroup {
        display: flex;
        align-items: center;
        gap: 0px 20px;
        .replayBtn {
          display: flex;
          align-content: center;
          justify-content: center;
          gap: 10px;
          background: #1b2559;
          padding: 5px 20px;
          border-radius: 50px;
          cursor: pointer;
          transform: scale(1);
          transition-duration: 0.3s;
          transition-property: all;
          user-select: none;
          &:hover {
            transform: scale(1.1);
          }
          img {
            filter: invert(100%);
          }
          div {
            font-size: 16px;
            text-transform: capitalize;
            font-weight: 900;
            color: white;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
    .qnaContent {
      height: calc(100% - 120px - 150px);
    }
    .qnaFooter {
      box-sizing: border-box;
      height: 150px;
      border-top: 2px solid #ececee;
      display: flex;
      justify-content: space-between;
      .metingCardBody {
        display: flex;
        .replySection {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin: 0px 15px;
          position: relative;
          width: 30px;
          .replySectionLine {
            width: 2px;
            height: 100%;
            margin: 10px 0px;
            background-color: #8000ff;
          }
          .replySectionCircle {
            cursor: pointer;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            z-index: 100;
            background: white;
            border: 2px solid #8000ff;
            color: black;
            transition-duration: 0.3s;
            transition-property: all;

            &:hover {
              background: #8000ff;
              color: white;
            }
          }
        }
        .metingCard {
          height: 140px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          cursor: pointer;
          margin: 0px 10px;
          margin-bottom: 5px;
          .nodeThumbnailBox {
            height: 100px;
            width: 100px;
            position: relative;
            display: flex;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            img {
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              object-fit: cover;
              transform: scale(1);
              transition-duration: 0.3s;
              transition-property: transform;
            }
            &:hover {
              img {
                transform: scale(1.15);
              }
            }
            .imgBtn {
              position: absolute;
              bottom: 0px;
              height: 40%;
              background: linear-gradient(
                0deg,
                #000000 -43.48%,
                rgba(0, 0, 0, 0) 76.09%
              );
              display: flex;
              align-items: center;
              justify-content: center;
              div {
                width: 100%;
                padding: 5px 10px;
                border-radius: 0px;
                background: rgba(128, 0, 255, 0.4);
                color: white;
                backdrop-filter: blur(5px);
                text-transform: capitalize;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
  .ImageWhite {
    filter: invert(100%) sepia(1%) saturate(1352%) hue-rotate(96deg)
      brightness(116%) contrast(100%);
  }
}
