.qnaFlorModal {
  .modal-content {
    background: linear-gradient(
        180deg,
        rgba(255, 198, 252, 0) 50.52%,
        rgba(217, 197, 216, 0.4) 100%
      ),
      url("../../assets/images/qnabackground.png");
    background-color: white;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100% !important;

    .itemsContainer {
      margin-bottom: 5rem;
      margin-top: 3rem;

      .items {
        width: 160px;
        height: 160px;
        background-color: #ffffff;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .proTag {
          background: #f2efff;
          color: #603cff;
          padding: 2px 15px;
          border-radius: 20px;
          font-weight: 700;
          font-size: 12px;
          align-self: flex-end;
          margin-top: -20px;
          margin-right: 10px;
        }
      }
    }
  }
}
