.modelCont {
  .modal-content {
    .modal-header {
      .modal-title {
      }
    }
    background-color: red;
    .itemsContainer {
      margin-bottom: 5rem;
      margin-top: 3rem;

      .items {
        width: 160px;
        height: 160px;
        background-color: #ffffff;
        border-radius: 12px;
      }
    }
  }
}
