@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("./color.scss");
@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  // font-family: "Plus Jakarta Sans", sans-serif !important;
  font-family: "Poppins" !important;
}

// Font---------------------------------------
@mixin text-font-style($f-size, $f-weight) {
  font-weight: $f-weight !important;
  font-size: #{$f-size} !important;
  // @media (min-width: 1025px) {
  //   font-size: #{$f-size} !important;
  // }
  // @media (max-width: 1024px) {
  //   font-size: clamp(calc(#{$f-size} * 0.9), 1vw, #{$f-size}) !important;
  // }
  // @media (max-width: 768px) {
  //   font-size: clamp(calc(#{$f-size} * 0.85), 1vw, #{$f-size}) !important;
  // }
  // @media (max-width: 480px) {
  //   font-size: #{$f-size} !important;
  // }
}

$fonthWeights: 400, 500, 600, 700, 800;
@for $size from 8 through 50 {
  @each $fWeight in $fonthWeights {
    .text-#{$size}-#{$fWeight} {
      @include text-font-style(#{$size}px, #{$fWeight});
    }
  }
}

// Margin || Padding---------------------------------------
@for $size from 0 through 100 {
  .p-#{$size} {
    padding: #{$size}px !important;
  }
  .px-#{$size} {
    padding-left: #{$size}px !important;
    padding-right: #{$size}px !important;
  }
  .py-#{$size} {
    padding-top: #{$size}px !important;
    padding-bottom: #{$size}px !important;
  }
  .ps-#{$size} {
    padding-left: #{$size}px !important;
  }
  .pe-#{$size} {
    padding-right: #{$size}px !important;
  }
  .pt-#{$size} {
    padding-top: #{$size}px !important;
  }
  .pb-#{$size} {
    padding-bottom: #{$size}px !important;
  }
  .m-#{$size} {
    padding: #{$size}px !important;
  }
  .mx-#{$size} {
    margin-left: #{$size}px !important;
    margin-right: #{$size}px !important;
  }
  .my-#{$size} {
    margin-top: #{$size}px !important;
    margin-bottom: #{$size}px !important;
  }
  .ms-#{$size} {
    margin-left: #{$size}px !important;
  }
  .me-#{$size} {
    margin-right: #{$size}px !important;
  }
  .mt-#{$size} {
    margin-top: #{$size}px !important;
  }
  .mb-#{$size} {
    margin-bottom: #{$size}px !important;
  }
}

// Height || Width---------------------------------------
@for $size from 0 through 500 {
  .h-#{$size} {
    height: #{$size}px !important;
    min-height: #{$size}px !important;
  }
  .w-#{$size} {
    width: #{$size}px !important;
    min-width: #{$size}px !important;
  }
}

// Border radius---------------------------------------
@for $size from 0 through 100 {
  .br-#{$size} {
    border-radius: #{$size}px !important;
  }
}

// Common classes ----------------------------------------
.fa-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.fj-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.fb-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pointer {
  cursor: pointer;
}
.un {
  user-select: none;
}
.fit-image {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hover-icons-effect {
  transform: scale(1);
  transition: transform 0.3s ease-in;
  cursor: pointer;
  &:hover {
    filter: invert(38%) sepia(65%) saturate(3797%) hue-rotate(236deg)
      brightness(102%) contrast(101%);
    transform: scale(1.2);
  }
}
.hover-effect {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: var(--299f) !important;
  }
}
.icon-color-1B2559 {
  filter: invert(14%) sepia(32%) saturate(2432%) hue-rotate(205deg)
    brightness(93%) contrast(98%);
}
.wp-5 {
  width: 5%;
}

.wp-10 {
  width: 10%;
}
.wp-12 {
  width: 12%;
}
.wp-15 {
  width: 15%;
}
.wp-20 {
  width: 20%;
}
.wp-25 {
  width: 25%;
}
.wp-30 {
  width: 30%;
}
.wp-35 {
  width: 35%;
}
.wp-40 {
  width: 40%;
}
.wp-45 {
  width: 45%;
}
.wp-50 {
  width: 50%;
}
.wp-55 {
  width: 55%;
}
.wp-60 {
  width: 60%;
}
.wp-70 {
  width: 70%;
}
.wp-80 {
  width: 80%;
}
.wp-90 {
  width: 90%;
}
.wp-100 {
  width: 100%;
}
.hp-90 {
  height: 90%;
}
.hp-95 {
  height: 95%;
}
.hp-100 {
  height: 100%;
}
.input-error {
  font-size: 14px;
  font-weight: 400;
  color: var(--dc35);
  margin-top: 2px;
}

@media screen and (min-width: 768px) {
  .wp-md-5 {
    width: 5%;
  }

  .wp-md-10 {
    width: 10%;
  }
  .wp-md-12 {
    width: 12%;
  }
  .wp-md-15 {
    width: 15%;
  }
  .wp-md-20 {
    width: 20%;
  }
  .wp-md-25 {
    width: 25%;
  }
  .wp-md-30 {
    width: 30%;
  }
  .wp-md-35 {
    width: 35%;
  }
  .wp-md-40 {
    width: 40%;
  }
  .wp-md-45 {
    width: 45%;
  }
  .wp-md-50 {
    width: 50%;
  }
  .wp-md-60 {
    width: 60%;
  }
  .wp-md-70 {
    width: 70%;
  }
  .wp-md-80 {
    width: 80%;
  }
  .wp-md-90 {
    width: 90%;
  }
  .wp-md-100 {
    width: 100%;
  }
  .hp-md-100 {
    height: 100%;
  }
}
.auri-scroll {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    background-color: transparent;
    scrollbar-width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #edd8fa;
  }
}
.text-elipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown {
  display: flex;
}

a {
  text-decoration: none;
}

.error-message {
  color: red;
  font-size: 12px; /* Adjust size as needed */
  margin-top: 5px; /* Adjust spacing as needed */
  padding-left: 10px;
}
