.VideoConfiguration-container {
  .thumbnail-content {
    width: 100%;
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
  }
  .align-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .align-btn {
      color: #8c8e90;
      border: 1px solid #8c8e90;
      border-radius: 5px;
      padding: 5px;
      width: 60px;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      margin: 0px 10px;
      cursor: pointer;
    }
    .active {
      color: #7b5aff;
      border-color: #7b5aff;
    }
  }
  .slider-container {
    width: 300px;
    margin: 20px;
    .slider-labels {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
