.Dashboards-container {
  background-color: transparent;
  padding: 10px;
  .big-card-body {
    display: flex;
    align-items: start;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    .big-card {
      background-color: white;
      border-radius: 10px;
      padding: 15px 20px;
      box-shadow: 0px 0px 63.44px 3px #00000012;

      .card-icon {
        // background: linear-gradient(
        //   to bottom,
        //   var(--darkColor),
        //   var(--lightColor) 100%
        // );
        background: linear-gradient(180deg, #8567ff 0%, #b3a1ff 100%);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .user-card-body {
    padding: 0px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;

    border-radius: 10px;
    box-shadow: 0px 4px 64px -3px #00000012;

    .footer {
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      cursor: pointer;
      color: var(--darkColor);
      transition-duration: 1s;
      transition-property: text-decoration;
      &:hover {
        text-decoration: underline;
      }
    }

    .card-body {
      width: calc(100% - 50px);
      display: flex;
      gap: 0px 20px;
      overflow: auto;
      .user-card {
        display: flex;
        .card-det {
          display: flex;
          align-items: start;
          justify-content: space-between;
          flex-direction: column;
          margin-left: 10px;
          padding: 5px 15px 5px 0px;
        }
      }
    }
  }
  .table-card {
    background: white;
    border-radius: 10px;
  }
  .table-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom: 15px;
    .tab-btn {
      display: flex;
      border: 1px solid rgb(171, 171, 171);
      border-radius: 5px;
      font-size: 16px;
      font-weight: 500;
      overflow: hidden;
      div {
        padding: 10px 20px;
        border-right: 1px solid rgb(171, 171, 171);
        cursor: pointer;
        &:nth-last-child(1) {
          border: none;
        }
      }
      .active {
        color: var(--darkColor);
        background-color: rgba(179, 161, 255, 0.2);
      }
    }
    .date-btn {
      margin-left: 20px;
      width: 280px;
      position: relative;
      .custom-date-picker-input {
        border: 1px solid rgb(171, 171, 171);
        width: 100%;
        font-size: 16px;
        padding: 10px 10px 10px 40px;
        border-radius: 5px;
        outline: none;
        position: relative;
        &:focus {
          border: 1px solid #8567ff;
        }
      }
      .date-label {
        position: absolute;
        z-index: 100;
        left: 10px;
        filter: invert(39%) sepia(22%) saturate(7164%) hue-rotate(233deg)
          brightness(107%) contrast(101%);
      }
      .react-datepicker__tab-loop {
        position: absolute;
      }
      .react-datepicker__close-icon {
        &::after {
          background-color: #555555;
        }
      }
      .custom-calendar {
        border-radius: 8px; /* Rounded corners */
        font-family: Arial, sans-serif;
        background-color: #fff;
      }
    }
  }
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  .deleteSVG-hover-icons-effect {
    transform: scale(1);
    transition: transform 0.2s ease-in;
    cursor: pointer;
    &:hover {
      filter: invert(28%) sepia(98%) saturate(7470%) hue-rotate(358deg)
        brightness(104%) contrast(117%);
      transform: scale(1.2);
    }
  }
}
