#textinput-container {
  .text-input-container {
    .text-input-block {
      input {
        width: 100%;
        outline: none;
        display: flex;
        flex-direction: column;
        border: none;
        border-bottom: 1px solid var(--9533);
        color: var(--1923);
        height: 57px;
        padding: 10px 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        white-space: nowrap;
        text-overflow: ellipsis;
        background-color: var(--ffff);
        &:disabled {
          background: #e8e9ea;
        }
        &:focus {
          border-color: #8000ff;
        }
      }
      ::placeholder {
        color: var(--9580);
      }
    }
  }
}
