.user-layout-container {
  display: flex;
  background-color: var(--e9ea);
  .right-body-content {
    flex-grow: 1;
    // width: 100%;
    width: calc(100% - 264px);
    .body-block {
      padding: 24px;
      height: calc(100vh - 100px);
      overflow-y: auto;
    }
  }
  @media (max-width: 660px) {
    .right-body-content {
      width: 100%;
    }
  }
  @media (max-width: 660px) {
    .right-body-content {
      width: 100%;
      padding: 14px;
      .body-block {
        padding: 10px;
        height: unset;
        overflow: unset;
      }
    }
  }
  .auri-scroll {
    overflow-y: auto;
    // Prevent horizontal scrollbar
    overflow-x: hidden;
  }
}
