#dropdownoption-container {
  .css-1u9des2-indicatorSeparator {
    display: none;
  }
  .css-t3ipsp-control {
    box-shadow: unset;
    border-radius: 0px;
    border: none;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 10px;
    border-color: #8000ff;
  }
  .css-13cymwt-control {
    border-radius: 0px;
    border: none;
    border: 1px solid;
    padding: 5px 10px;
    border-color: #cccccc;
    border-radius: 10px;
  }
  .css-t3ipsp-control:hover {
    border-color: #8000ff;
  }
  .css-1dimb5e-singleValue {
    color: black;
    font-size: 14px;
    font-weight: 400;
  }
  #react-select-2-placeholder,
  .do-block__placeholder {
    color: #757f95;
    font-size: 14px;
    font-weight: 400;
  }
  .css-tr4s17-option {
    color: #8000ff !important;
    background-color: transparent;
  }
  .do-block__option {
    background-color: transparent;
    color: #757f95;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
  .do-block__value-container {
    padding: 2px 0px;
  }
  #react-select-2-listbox {
    div {
      background-color: transparent;
      color: #757f95;
      font-size: 13px;
      font-weight: 400;
      cursor: pointer;
    }
  }
}
