.VideoPlayer-container {
  position: relative;
  height: 100%;
  margin: auto;

  .video {
    width: 100%;
    background: black;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
  }
  .play-btn-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    z-index: 101010;
  }
  .control-box {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 10px;
    color: white;
    .all-control {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .control-volume {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
      .volume {
        img {
          filter: invert(100%) sepia(10%) saturate(4492%) hue-rotate(184deg)
            brightness(122%) contrast(95%);
          transform: scale(1);
          transition-duration: 0.3s;
          transition-property: transform;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
    .push-play-btn {
      background: none;
      border: none;
      cursor: pointer;
      padding: 5px;
      font-size: 16px;
      color: white;
      font-weight: 600;
      letter-spacing: 2px;
    }
    .duration-text {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: 600;
    }
    .speed-btn {
      background: rgba(0, 0, 0, 0.2);
      border: none;
      color: white;
      cursor: pointer;
      width: 30px;
      height: 30px;
      font-size: 12px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px 10px;
      padding: 0px;
      font-weight: 600;
    }
    .full-screen-btn {
      background: rgba(0, 0, 0, 0.2);
      border: none;
      cursor: pointer;
      width: 30px;
      height: 30px;
      padding: 0px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .overlay-text {
      position: absolute;
      top: 50px;
      left: 50px;
      right: 50px;
      bottom: 100px;
      overflow: auto;
      color: white;
      font-weight: 700;
      overflow-wrap: break-word;
      transition-duration: 0.3s;
      transition-property: opacity;
    }
  }
}
