.ViewInteraction-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  #controlled-tab-example {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    .int-header {
      width: 100%;
      height: 20px;
      background: #b6b6b6;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 15px;
      padding-right: 40px;
      overflow: hidden;
      span {
        width: 10px;
        height: 10px;
        background: #dddddd;
        box-sizing: border-box;
        border: 1px solid white;
        border-radius: 50%;
      }
    }
    .int-display {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
    }
  }
}
