.Overview {
  .link {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .overview-box {
    width: min(900px, 100%);
    padding: 15px;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
  }
}
