.AssetAllocation-container {
  .AssetAllocation-menu-tab {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    box-sizing: border-box;
    div {
      padding: 15px 20px;
      cursor: pointer;
      font-size: 14px;
      background: transparent;
      border-bottom: 2px solid transparent;
    }
    .active {
      color: var(--darkColor);
      border-color: var(--darkColor);
    }
  }
}

.Metrics-container {
  .chart-card {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 18px 0px #00000012;
    margin-top: 30px;
    .chart-header {
      padding: 15px;
      .active {
        border-bottom: 2px solid black;
      }
    }
    .chart-card-header {
      width: 100%;
      gap: 30px 0px;
    }
  }
}

.Metrics-header {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 18px 0px #00000012;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  .profile-det {
    display: flex;
    .profile-img {
      border-radius: 10px;
      overflow: hidden;
    }
    .det {
      display: flex;
      flex-direction: column;
    }
  }
  .header-menu {
    width: 80%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
    .menu {
      border-bottom: 2px solid white;
      cursor: pointer;
    }
    .active {
      color: var(--darkColor);
      border-color: var(--darkColor);
    }
  }
}
