.MyFolder {
  .collection-list-container {
    margin-top: 30px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
    .outer-card {
      position: relative;
      .menu {
        align-self: flex-end;
        margin-right: 12px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 3;
      }
      .file-card {
        width: 185px;
        height: 220px;
        border-radius: 10px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .file-image {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: bottom center;
          overflow: hidden;
          object-fit: cover;
          position: absolute;
          z-index: 1;
          transition-duration: 0.5s;
          transition-property: width, height;
        }
        .hover_card {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 2;
          opacity: 0;
          transition-duration: 0.5s;
          transition-property: opacity;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex-direction: column;
          cursor: pointer;
          background: linear-gradient(transparent, rgba(0, 0, 0, 0.5) 100%);
        }
        .no-img-box {
          background: linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.8) 100%
          );
          width: 100%;
          height: 100%;
        }
        &:hover {
          .hover_card {
            opacity: 1;
          }
          .file-image {
            width: 110%;
            height: 110%;
          }
        }
      }
    }
  }
}

.move-folder-container {
  .modal-dialog {
    width: 100%;
    max-width: none !important;
    margin: 0px;
    padding: 10px;
    box-shadow: none;
  }
  .modal-content {
    width: min(40%, 100%) !important;
    max-height: 80vh;
    .move-folder-header {
      .btn-close {
        background-color: white;
        box-shadow: none;
        border-radius: 50%;
      }
    }
    .title {
      color: rgb(128, 128, 128);
      display: block;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      // color: ;
    }
    .move-folder-btn-group {
      width: 100%;
      margin-top: 30px;
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      .btn {
        height: 100%;
        padding: 10px 20px;
        outline: none;
        box-shadow: none;
        border: none;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        // color: ;
      }
    }
  }
}
