#textarea-container {
  .text-area-block {
    textarea {
      width: 100%;
      border: none;
      border: 1px solid var(--9533);
      color: var(--1923);
      // border-radius: 12px;
      padding: 14px 18px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: var(--ffff);
      outline: unset;
      white-space: normal;
      overflow-wrap: break-word;
      word-wrap: break-word; /* For older browsers */
      resize: vertical;
      &:disabled {
        background-color: var(--ffff);
        opacity: 0.5;
      }
      &:focus {
        border-color: #8000ff;
      }
    }
    ::placeholder {
      color: var(--9580);
    }
  }
}
