.share-live-url-container {
  margin: 0;
  padding: 0;
  .modal-dialog {
    width: 100%;
    max-width: none !important;
    margin: 0px;
    box-shadow: none;
  }
  .modal-body {
    margin: 0;
    padding: 0;
  }
  .modal-content {
    width: min(900px, 100%) !important;
    max-height: 80vh;
    margin: 0;
    padding: 0;
    .share-live-url-header {
      .btn-close {
        background-color: white;
        box-shadow: none;
        border-radius: 50%;
      }
    }
    .share-live-url-content {
      width: 100%;
      padding: 5px 10px;
      .share-option-container {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        .option-container {
          width: 180px;
          height: 190px;
          border-radius: 10px;
          border: 2px solid #f1f1f1;
          padding: 10px;
          background: #f1f1f1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          transition-duration: 0.3s;
          transition-property: border, background;
          cursor: pointer;
          .option-card-container {
            width: 100%;
            height: 120px;
            border-radius: 5px;
            border: none;
            border-bottom: 2px solid darkgray;
            border-right: 2px solid darkgray;
            overflow: hidden;
            background: white;

            .card-header {
              width: 100%;
              height: 10px;
              background: darkgray;
              display: flex;
              align-items: center;
              justify-content: end;
              padding-right: 10px;
              gap: 5px;
              span {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: #fff;
                padding: 0;
                margin: 0;
              }
            }
            .website-header {
              width: 100%;
              height: 40px;
              background: lightgray;
              display: flex;
              align-items: center;
              flex-direction: column;
              gap: 0px;
              overflow: hidden;
            }
            .website-body {
              width: 100%;
              position: relative;
              height: 65px;
              .embed-code-icon {
                width: 35px;
                height: 35px;
                border-radius: 50px;
                background: #8000ff;
                position: absolute;
                border: 2px solid #ffffff;
                bottom: 0px;
                right: 5px;
                z-index: 1000;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
          .option-icon {
            opacity: 0;
            transition-duration: 0.3s;
            transition-property: opacity;
          }
          .label-text {
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            color: rgb(58, 58, 58);
            margin-bottom: 5px;
            transition-duration: 0.3s;
            transition-property: color;
          }

          &:hover {
            background: rgba(128, 0, 255, 0.05);
            border: 2px solid #8000ff;
            .label-text {
              color: #8000ff;
            }
            .option-icon {
              opacity: 1;
            }
          }
        }
      }
      .copyInput {
        width: 100%;
        .InputBox {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 5px;
          position: relative;
          .share-icon {
            height: 45px;
            display: flex;
            align-items: center;
            position: absolute;
            left: 0px;
            padding: 10px;
          }
          input {
            width: 100%;
            border: none;
            outline-color: #8000ff;
            padding: 10px 10px 10px 45px;
            border-radius: 5px;
            color: #8000ff;
            background-color: #f3e9fd;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden !important;
          }
          .copy-btn {
            height: 45px;
            border: none;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            background: #8000ff;
            display: flex;
            align-items: center;
            gap: 10px;
            color: white;
            transform: scale(1);
            transition-duration: 0.3s;
            transition-property: transform;
            &:active {
              transform: scale(0.95);
            }
          }
        }
      }
    }

    .EmbedShare-container {
      width: 100%;
      min-height: 60vh;
      padding: 10px 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 10px;
      .Share-view {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background: #ffffff;
        padding: 5px 0px;
        .view-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          width: 100%;
          height: 50px;
          div {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img {
              transform: scale(1);
              transition-duration: 0.3s;
              transition-property: transform;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
        .iframe-view-container {
          width: 98%;
          height: 50vh;
          background: rgb(255, 255, 255);
          border-radius: 15px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          overflow: hidden;
          .view-header {
            width: 100%;
            height: 20px;
            background: #ddd;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;
            padding-right: 20px;
            span {
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background: #aaa;
            }
          }
          .body-header {
            width: 100%;
            height: 150px;
            background: #f1f1f1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            span {
              width: 150px;
              height: 15px;
              background: #fff;
              border-radius: 100px;
              &:nth-child(1) {
                width: 350px;
              }
              &:nth-child(2) {
                width: 150px;
              }
            }
          }
          .iframe-view-body {
            width: 100%;
            height: calc(100% - 170px);
            display: flex;
            align-items: center;
            justify-content: center;
            .left-view-body {
              width: 35%;
              height: 220px;
              padding: 10px 20px;
              display: flex;
              align-items: center;
              flex-direction: column;
              span {
                width: 100%;
                height: 95px;
                border-radius: 10px;
                background: #ccc;
                &:nth-child(1) {
                  margin-bottom: 25px;
                }
              }
            }
            .right-view-body {
              width: 65%;
              height: 220px;
              padding: 10px 20px;
              .iframe-video {
                width: 100%;
                height: 100%;
                background: #f1f1f1;
                border-radius: 10px;
              }
            }
          }
        }
      }
      .EmbedShare-config {
        width: 35%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        .widget-config-container {
          width: 100%;
          .Widget-style-option {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 5px;
            &-container {
              width: 50px;
              height: 50px;
              background: #b0b0b0;
              border-radius: 10px;
              cursor: pointer;
              transform: scale(0.9);
              position: relative;
              transition-duration: 0.3s;
              transition-property: transform;
              &-active {
                background: #8000ff;
                transform: scale(0.9);
              }
              &:hover {
                transform: scale(1);
              }
            }
          }
          .Widget-position-option {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 5px;
            &-container {
              width: 50px;
              height: 50px;
              background: #b0b0b0;
              border-radius: 10px;
              cursor: pointer;
              transform: scale(0.9);
              position: relative;
              transition-duration: 0.3s;
              transition-property: transform;
              &:hover {
                transform: scale(1);
              }
              &-active {
                background: #8000ff;
              }
            }
          }
        }
      }
    }
  }
  .divider {
    width: 100%;
    height: 2px;
    background: #ddd;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
.my-widget-circle {
  position: fixed;
  z-index: 10000;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.color-input-container {
  position: relative;
  width: 50px;
  height: 50px;
  &_btn {
    width: 100%;
    height: 100%;
    cursor: "pointer";
    border-radius: 10px;
    border: 2px solid #fff;
    transform: scale(1);
    transition-duration: 0.3s;
    transition-property: transform border;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  &_picker {
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: "absolute";
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100000000;
    border-radius: 5px;
    transform: translate(-250px, -60%);
    padding: 5px;
    .picker-btn {
      display: flex;
      gap: 10px;
      width: 100%;
      button {
        width: 100%;
        padding: 5px 0px;
        border: none;
        margin-top: 10px;
        text-transform: capitalize;
        font-weight: 600;
        border-radius: 5px;
      }
      &_pick {
        background: #7b5aff;
        color: white;
        transition-duration: 0.3s;
        transition-property: background;
        &:hover {
          background: #572efa;
        }
      }
    }
  }
}
