.upload-modal-container {
  .modal-dialog {
    width: 100%;
    max-width: none !important;
    margin: 0px;
    padding: 10px;
    box-shadow: none;
  }
  .modal-content {
    overflow: hidden;
    width: 95% !important;
    height: 96vh;
    .upload-model-content {
      padding: 0;
      margin: 0;
      position: relative;
      height: 100%;
      .modal_body {
        display: flex;
        height: 100%;
        .content-body {
          padding: 15px;
          overflow: auto;
          .modal-title {
            display: flex;
            align-items: center;
          }
        }
      }
      .close-icon {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }
}
