#sidebar-container {
  width: 264px;
  border-right: 1px solid #757f9533;
  height: 100vh;
  user-select: none;
  position: relative;
  .side-option-container {
    margin-top: 16px;
    // max-height: calc(100vh - 300px);
    overflow: auto;
    .main-option-block {
      .option-item {
        padding: 12px 12px 12px 16px;
        margin-bottom: 8px;
        cursor: pointer;
        .icon-block {
          height: 24px;
          width: 24px;
        }
        .title-block {
          color: var(--7f95);
          flex-grow: 1;
        }
        .down-block {
          height: 18px;
          width: 18px;
        }
      }
      .active {
        background-color: var(--f5ef);
        position: relative;
        .v-active-line {
          position: absolute;
          left: 0;
          top: 0;
          background-color: var(--9f63);
          width: 4px;
          height: 100%;
        }
        // .icon-block {
        //   img {
        //     filter: invert(45%) sepia(84%) saturate(346%) hue-rotate(97deg)
        //       brightness(96%) contrast(95%);
        //   }
        // }
        // .title-block {
        //   color: var(--9f63);
        // }
        // .down-block {
        //   img {
        //     filter: invert(45%) sepia(84%) saturate(346%) hue-rotate(97deg)
        //       brightness(96%) contrast(95%);
        //   }
        // }
      }
      .child-option-block {
        padding-left: 48px;

        .child-item {
          color: var(--7f95);
          margin-bottom: 8px;
        }
      }
      .active-child {
        // color: var(--9f63) !important;
      }
    }
  }
  .side-footer {
    padding: 20px;
    background-color: var(--ffff);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.offcanvas-lg {
  width: fit-content !important;
  border: unset !important;
  .offcanvas-header {
    display: none;
  }
  .offcanvas-body {
    padding: unset;
  }
}
