.custom-card {
  position: relative;
  width: 12rem; /* Reduced width for a rectangular shape */
  height: 15rem; /* Increased height for a rectangular shape */
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-card-image {
  width: 100%;
  height: 100%; /* Make the image fill the card */
  object-fit: cover; /* Ensure the image covers the entire card */
  display: block;
}
.custom-card-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  text-transform: capitalize;
  backdrop-filter: blur(5px);
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden !important;
}

.custom-card-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  background: transparent;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
